.divider {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filter-container {
    display: flex;
    justify-content: center;
}