.list-map-container {
    background-color: var(--Neutral-100, #F5F5F5);
    
}
.station-container {
    width: 40%;
    height: 710px;
    overflow-y: auto;  
}
.station-count {
    color: var(--Neutral-900, #232323);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
    margin: 20px;  
}
.station-card {
    border-radius: 8px;
    background: var(--Neutral-0, #FFF);
    /* Drop shadow */
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    margin: 20px;  
}
.station-card h2 {
    color: var(--Neutral-900, #232323);
    /* H2 */
    font-family: "Calibre";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 30.8px */
    letter-spacing: -0.14px;  
}
.station-card p {
    color: var(--Neutral-900, #232323);
    /* P */
    font-family: "Calibre";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: -0.048px;
}
.station-card h3 {
    color: var(--Christine-Orange-christine-orange-500, #ED560E);
    /* H3 */
    font-family: "Calibre";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 24px */
    letter-spacing: -0.1px;
}
.station-list ul {
    list-style-type: none;
    padding: 0;
}
.spacer {
    width: 12.5%;
}